/** --------------------------------- **/
/** ------- TAILWIND INCLUDES ------- **/
/** --------------------------------- **/

@tailwind base;
@tailwind components;
@tailwind utilities;

/** ---------------------- **/
/** ------- GLOBAL ------- **/
/** ---------------------- **/

:root {
  --header-height: 8.75rem;
  --header-height-neg: -8.75rem;
  --header-height-mobile:5.75rem;
  --header-height-mobile-neg:-5.75rem;
  --cobalt-blue: #4362BE;
  --btn-blue-bkg: #007BFF;

  --btn-black-bkg: #0A0A0B;
  --txt-black: #151515;
  --input-border-color: #4362BE;
  --bkg-light: #FFFFFF; /* DELETE THIS ONE! */
  --footer-bkg: #1E2A38;
  --btn-lightblue-bkg: #81BEFF;
  --site-space: 3dvh 7dvw;
  --site-space-horizontal: 7dvw;
  --site-space-vertical: 3dvh;
}

html,body{
  margin:0;
  padding:0;
  min-width:100%;
  min-height:100%;
  scroll-behavior: smooth;
}

*{
  box-sizing:border-box;
  font-family: var(--font-montserrat);
}
button,input,textarea,select{
  font-family: var(--font-sarabun);
}
input:focus{
  outline: none;
}
button{
  cursor: pointer;
  border:none;
}



div#publicLayout{
  padding-top:var(--header-height);
}
div#cmsLayout main{
  padding:7dvh 7dvw;
  background-color: #1e1b4b;
}