div#publicLayout div#events-vertical-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 4dvw;
}

div#publicLayout div#events-horizontal-container {
    width: 70%;
}

div#publicLayout div#events-horizontal-container div.infinite-scroll-component {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:30px;
    width: calc(100% + 60px);
    margin-left: -30px;
}



div#publicLayout div#loadingSpinner {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}

div#publicLayout div#loadingSpinner img {
    margin: 0 auto;
    width: 2rem;
    height: 2rem;
}

div#publicLayout .endMessage{
    width: 100%;
    margin-top: 2rem;
    border-top: solid 1px #151515;
    padding-top: 1rem;
    color: #151515;
    text-align: center;
}


/* MOBILE */
@media only screen and (max-width: 800px) {
    div#publicLayout div#events-vertical-container {
        flex-direction: column;
        padding: 2rem 3rem;
    }
    div#publicLayout div#events-horizontal-container {
        width: 100%;
    }
}