div#publicLayout section.eventsFilter{
    width: 30%;
    padding: 30px 3dvw;
    
}
div#publicLayout section.eventsFilter form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div#publicLayout section.eventsFilter h4{
    margin: 0;
    padding: 0;
    font-size:1.5rem;
    line-height: 2rem;
    font-family: var(--font-sarabun);
    color:#151515;
    font-weight:400;
}

div#publicLayout section.eventsFilter div.filtersContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

div#publicLayout section.eventsFilter div.filtersContainer form{
    display: flex;
    justify-content: flex-start;
    width: fit-content;
}
div#publicLayout section.eventsFilter div.filtersContainer form button.searchEventButton{
    margin-left: .5rem;
}


/* *********************** */
/* ******* BUTTONS ******* */
/* *********************** */

/* DATE SELECTOR */
div#publicLayout section.eventsFilter div.filtersContainer div.dateEventsContainer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
div#publicLayout section.eventsFilter div.filtersContainer div.dateEventFilter{
    position: relative;
    width: 150px;
    padding: 0;
    border-radius:38px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #FFFFFF;
}
div#publicLayout section.eventsFilter div.filtersContainer div.dateEventFilter div.dateEventFilter-inputWrapper{
    background-color: #FFFFFF;
}
div#publicLayout section.eventsFilter div.filtersContainer div.dateEventFilter div.dateEventFilter-innerWrapper{
    padding-bottom:1.3rem;
    font-size: 1rem;
    color: #151515;
    font-family: var(--Montserrat);
    font-weight: 400;
    line-height: 1.25rem;
}
div#publicLayout section.eventsFilter div.filtersContainer div.dateEventFilter div.dateEventFilter-helperWrapper{
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: auto;
    width: auto;
    font-size: 1rem;
    background: white;
    border-radius: 38px;
}
div#publicLayout section.eventsFilter div.filtersContainer div.dateEventFilter div.dateEventFilter-helperWrapper div.dateEventFilter-descriptionMessage{
    color:#151515;
    font-family: var(--Montserrat);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    padding-left: .7rem;
    z-index: 0;
}
div#publicLayout section.eventsFilter div.filtersContainer div.dateEventFilter button.dateEventFilter-selectorButton{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: transparent;
    width: auto;
    height: auto;
    background-image: url('/images/icons/calendar-black.svg');
    background-repeat: no-repeat;
    background-position: center right 1rem;
    background-size: 1rem;
    z-index: 1;
}
div#publicLayout section.eventsFilter div.filtersContainer div.dateEventFilter button.dateEventFilter-selectorButton svg.dateEventFilter-selectorIcon{
    display: none;
}


/* DROPDOWN */
div#publicLayout section.eventsFilter form div.filtersContainer div.dropdownEventFilter{
    position: relative;
    width: fit-content;
    background-color: #FFFFFF;
    padding: 0;
    margin-bottom: 1rem;
    border-radius:38px;
    box-shadow: 0px 4px 4px 0px #00000040;
}
div#publicLayout section.eventsFilter form div.filtersContainer div.dropdownEventFilter div.dropdownEventFilter-mainWrapper{
    width: fit-content;
}
div#publicLayout section.eventsFilter form div.filtersContainer div.dropdownEventFilter div.dropdownEventFilter-mainWrapper button{
    width: fit-content;
    background-color: #FFFFFF;
    padding: .6rem 3.5rem .6rem 1.25rem;
    font-family: var(--Montserrat);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    background-image: url('/images/icons/dropdown.svg');
    background-repeat: no-repeat;
    background-position: center right 1rem;
    background-size: 1rem;
}
div#publicLayout section.eventsFilter form div.filtersContainer div.dropdownEventFilter div.dropdownEventFilter-mainWrapper div.dropdownEventFilter-innerWrapper{
    width: fit-content;
}
div#publicLayout section.eventsFilter form div.filtersContainer div.dropdownEventFilter div.dropdownEventFilter-mainWrapper div.dropdownEventFilter-innerWrapper span{
    color:#151515;
    font-family: var(--Montserrat);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
}
div#publicLayout section.eventsFilter form div.filtersContainer svg.dropdownEventFilter-selectorIcon{
    display: none;
}


@media only screen and (max-width: 800px) {
    div#publicLayout section.eventsFilter{
        width: 100%;

    }
    div#publicLayout section.eventsFilter form,
    div#publicLayout section.eventsFilter form div.searchContainer,
    div#publicLayout section.eventsFilter div.filtersContainer{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    div#publicLayout section.eventsFilter form div.searchContainer,
    div#publicLayout section.eventsFilter form div.filtersContainer,
    div#publicLayout section.eventsFilter form div.filtersContainer div.dateEventFilter,
    div#publicLayout section.eventsFilter form div.filtersContainer div.dropdownEventFilter,
    div#publicLayout section.eventsFilter form div.filtersContainer div.dropdownEventFilter div.dropdownEventFilter-mainWrapper,
    div#publicLayout section.eventsFilter form div.filtersContainer div.dropdownEventFilter div.dropdownEventFilter-mainWrapper button{
        width: 100%;
    }
    div#publicLayout section.eventsFilter form div.searchContainer button.searchEventButton{
        margin-left: 0;
    }
    div#publicLayout section.eventsFilter form div.filtersContainer{
        margin-top: 2rem;
    }
    div#publicLayout section.eventsFilter form div.filtersContainer div.dateEventFilter,
    div#publicLayout section.eventsFilter form div.filtersContainer div.dropdownEventFilter{
        margin: 1rem 0 0 0;
    }
}