/** ---------------------- **/
/** ------- FOOTER ------- **/
/** ---------------------- **/
div#publicLayout footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--footer-bkg);
    padding: 0 7dvw;
    color: #FFFFFF;
  }
  /* Newsletter */
  div#publicLayout footer div.newsletter-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
    margin: 02rem 0 0 0;
  }
  div#publicLayout footer div.newsletter-container div.col1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  div#publicLayout footer div.newsletter-container div.col2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 31dvw;
  }
  div#publicLayout footer div.newsletter-container div h3{
    font-size: 1.5rem;
    padding:0;
    margin:0 1.5rem;
  }
  div#publicLayout footer div.newsletter-container div a{
    text-decoration: underline;
    font-size: 1.5rem;
    padding:0;
    margin:0;
  }
  div#publicLayout footer div.newsletter-container div p{
    font-size:1rem;
    margin: 0;
    padding:0;
  }
  div#publicLayout footer div.newsletter-container div h3.successMessage{
    text-align: center;
    color: #15B097;
    box-shadow: 0px 0px 5px 0px white;
    border-radius: 10px;
    padding: 10px;
  }
  div#publicLayout footer div.newsletter-container div form{
    position: relative;
    display: flex;
    width: 100%;
  }
  div#publicLayout footer div.newsletter-container div form div#newsletterFormSpaced{
    position: absolute;
    width: 0;
    height: 0;
    top:calc(var(--header-height-neg) * 1.2) ;
  }
  div#publicLayout footer div.newsletter-container div form div.inputNewsletterFooter{
    transition: .3s;
    background: white;
    z-index: 1;
  }
  div#publicLayout footer div.newsletter-container div form div.inputNewsletterFooter div.inputNewsletterFooter-inputWrapper{
    border-radius: 0;
  }
  div#publicLayout footer div.newsletter-container div form div.inputNewsletterFooter div.inputNewsletterFooter-helperWrapper{
    padding: 0;
    margin: 0;
  }
  div#publicLayout footer div.newsletter-container div form div.inputNewsletterFooter div.inputNewsletterFooter-descriptionMessage{
    position: absolute;
    color: red;
  }
  div#publicLayout footer div.newsletter-container div form div.highlighted{
    box-shadow: 0px 0px 10px 8px var(--btn-blue-bkg);
    scale: 1.05;
  }
  div#publicLayout footer div.newsletter-container div form button{
    height: auto;
    border: none;
    border-radius:0;
    font-size: 1rem;
    background-color: var(--btn-blue-bkg);
    color: #FFFFFF;
    margin-left: .3rem;
    transition: .3s;
  }
  div#publicLayout footer div.newsletter-container div form button:disabled{
    background-color: #9F9C9C;
    cursor: not-allowed;
  }


  /* Navigation */
  div#publicLayout footer div.nav-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    border-top: solid 1px #FFFFFF;
    border-bottom: solid 1px #FFFFFF;
    padding: 2.2rem 0 5.2rem 0;
    margin: 2.2rem 0 2.5rem 0;
  }
  div#publicLayout footer div.nav-container div h3{
    padding-top: var(--site-space-vertical);
    font-size: 1rem;
    font-weight:700;
    margin: 0;
  }
  div#publicLayout footer div.nav-container div ul{
    margin: 0;
    padding:0;
    list-style: none;
  }
  div#publicLayout footer div.nav-container div ul li{
    padding: 1.5rem 0 0 0;
  }
  div#publicLayout footer div.nav-container div ul li a{
    width: fit-content;
    text-decoration: none;
    font-size:1rem;
    color:#FFFFFF;
    font-weight: 400;
  }
  div#publicLayout footer div.nav-container div.social-container ul{
    display: flex;
    margin: 1.5rem 0 0 0;
    padding:0;
    list-style: none;
  }
  div#publicLayout footer div.nav-container div.social-container ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:6px;
    background: #81BEFF;
    padding: .6rem;
    margin-right: .6rem;
  }
  div#publicLayout footer div.nav-container div.social-container ul li:last-child{
    margin-right: 0;
  }
  div#publicLayout footer div.nav-container div.social-container ul li a{
    text-decoration:none;
    width:1rem;
    height:1rem;
    margin:0;
    padding:0;
  }
  div#publicLayout footer div.nav-container div.social-container ul li a img{
    width:1rem;
    height:1rem;
    margin:0;
    padding:0;
  }


  /* Copyright */
  div#publicLayout footer div.copyright-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0 0 2.5rem 0;
    margin: 0;
  }
  div#publicLayout footer div.copyright-container p{
    font-size: 1rem;
    margin:0;
    padding:0;
  }
  div#publicLayout footer div.copyright-container p span:first-child{
    font-size: 2rem;
    vertical-align: middle;
  }
  div#publicLayout footer div.copyright-container p a{
    width: fit-content;
    text-decoration: none;
    color:#FFFFFF;
    background-color: #81BEFF;
    border-radius: 4px;
    padding:.6rem;
    margin-left: .8rem;
  }
  

  /* MOBILE */
@media only screen and (max-width: 800px) {
  div#publicLayout footer div.newsletter-container,
  div#publicLayout footer div.newsletter-container div form,
  div#publicLayout footer div.nav-container{
    flex-direction: column;
  }
  div#publicLayout footer div.newsletter-container div:first-child,
  div#publicLayout footer div.newsletter-container div:last-child,
  div#publicLayout footer div.nav-container div{
    width: 100%;
  }
  div#publicLayout footer div.newsletter-container div h3,
  div#publicLayout footer div.newsletter-container div p,
  div#publicLayout footer div.nav-container div ul{
    margin-bottom: 1.5rem;
  }
  div#publicLayout footer div.newsletter-container div form button{
    padding:1rem 0;
    margin:1.3rem 0 0 0;
  }
  div#publicLayout footer div.nav-container div.social-container ul{
    width: 100%;
    justify-content: space-between;
  }
  div#publicLayout footer div.nav-container div.social-container ul li a,
  div#publicLayout footer div.nav-container div.social-container ul li a img {
    width: 2rem;
    height: 2rem;
  }
  div#publicLayout footer div.copyright-container p{
    font-size: .75rem;
  }
  div#publicLayout footer div.newsletter-container div form div#newsletterFormSpaced{
    top:calc(var(--header-height-mobile-neg) * 1.2) ;
  }
  div#publicLayout footer div.newsletter-container div form div[data-slot=error-message]{
    position: relative;
    padding-bottom: 1rem;
  }
}