div#publicLayout .textPage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin:0;
    padding: 0 7dvw;
    margin: 0 0 74px 0;
}
div#publicLayout .textPage h1{
    font-family: var(--font-montserrat);
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    color:#000000;
    margin-top:3.75rem;
    text-align: center;
}
div#publicLayout .textPage h2{
    font-family: var(--font-montserrat);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;
    color:#000000;
    margin-top:2.5rem;
    text-align: center;
}
div#publicLayout .textPage p{
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color:#000000;
    margin-top:2rem;
    text-align: center;
}
div#publicLayout .textPage p img{
    height: 210px;
    width: 210px;
    object-fit: cover; 
    border-radius: 20px;
}
div#publicLayout .textPage h2 a{
    text-decoration: underline;
    color: #007BFF;
}
div#publicLayout .textPage ul{
    width: 100%;
    margin:0;
    padding: 0;
    list-style: none;
}
div#publicLayout .textPage ul li{
    width: 100%;
    text-align: center;
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color:#000000;
}

div#publicLayout .textPage div.aboutImagesContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
div#publicLayout .textPage div.aboutImagesContainer div.aboutImagesColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div#publicLayout .textPage div.aboutImagesContainer div.aboutImagesColumn img{
    width: 364px;
    margin:14px;
    height: auto;
}


  /* MOBILE */
  @media only screen and (max-width: 800px) {
    div#publicLayout .textPage{
        padding: 0 3rem;
        margin-bottom: 3rem;
    }
    div#publicLayout .textPage h1{
        font-size: 1.5rem;
        margin-top: 0;
    }
    div#publicLayout .textPage div.aboutImagesContainer{
        flex-direction: column;
    }
  }